<!DOCTYPE html>
<html lang="en"> 

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <style>
        form {
    font-family: Arial, sans-serif;
    /* margin: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color:bisque;
}
form {
    display:flexbox;
    flex-direction: column;
}
h1{
    
  margin: auto;
  /* width: 50%; */
  border: solid black 2px;
  text-align: center;
  border-radius: 25pc;
  background-color: rgb(204, 106, 20);

}
    


label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}
#button{

    height: 2pc;
    width: 5pc;
    border-radius: 10px;
}
    </style>
   
</head>

<body>
    
    <h1>Register Here</h1>
    
    <form action="/signup" method="post" enctype="multipart/form-data">
    <label for="firstName"> First Name </label>
    <input type="text" id="firstName" name="firstname" value="" placeholder="Enter First Name">
    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname" value="" placeholder="Enter Last Name">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="" placeholder="Enter Email Here">
    <label for="username"> Username</label>
    <input type="text" id="username" name ="username"  value="" placeholder="Enter Username"> 
    <label for="password"> Password</label>
    <input type="text" id="password" name="password" value="" placeholder="Enter Password">
    <!-- <label for="image"> upload Profile </label> -->
    <input type="file" id="image" name="image" required> 
    <label for="is_admin">isAdmin</label>
    <input type="checkbox" id="is_admin" name="is_admin">
    <button type="submit" id="button"> signup </button> 
    </form>
    
    
</body>
</html>

